@import "../node_modules/@syncfusion/ej2-base/styles/material.css";
@import "../node_modules/@syncfusion/ej2-react-inputs/styles/material.css";
.sample-container{
  box-shadow:0 0 10px;
  margin:10px;
  border-radius:5px; 
}
.gauge-container,.textbox-container{
  box-shadow:0 0 10px inset;
  padding: 15px;
  text-align: center;
}