.sample-container{
    box-shadow:0 0 10px;
    margin:10px;
    border-radius:5px; 
  }
  .gauge-container,.textbox-container{
    box-shadow:0 0 10px inset;
    padding: 15px;
    text-align: center;  
  }